<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/highlights.svg" />
    <title>NFT Project</title>
    <meta name="author" content="Megan" />
    <meta
      name="description"
      content="A page to showcase an augmented reality project"
    />
    <!--Using Bootstrap for most styling-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!--Header area contains navigation bar-->
    <%- include('header'); %>
    <!-- Hero section -->
    <div class="space"></div>

    <div class="px-4 py-5 my-5 text-center">
      <img
        class="d-block mx-auto mb-4"
        src="/images/highlights.svg"
        alt=""
        width="72"
        height="57"
      />
      <h1 class="display-5 fw-bold">Augmented Reality Project</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
          A creative technology project exploring the use of augmented reality
          in a therapeutic context.
        </p>
      </div>
    </div>

    <div class="b-example-divider"></div>

    <!-- Project Information -->
    <div class="container px-4 py-5" id="project-info">
      <h2 class="pb-2 border-bottom">Case Study</h2>

      <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
        <div class="col">
          <img
            class="img-fluid rounded shadow"
            src="/images/adobe-aero-cover.jpg"
            alt="augmented reality safe place environment"
          />
        </div>
        <div class="col d-flex flex-column align-items-start gap-2">
          <h3 class="fw-bold">
            Creating A "Safe Place" Using Augmented Reality
          </h3>
          <p class="text-muted">
            This project is a technical exploration of how augmented reality can
            be used in therapy to create a "safe place" environment.
          </p>
          <p>
            <strong>Skills:</strong> Creative Technology, Psychology Research,
            UX Design
          </p>
          <p>
            <strong>Tools:</strong> Adobe Aero, Geospatial Creator by Google
            Maps, Mixamo
          </p>
          <p><strong>Timeline:</strong> 3 weeks</p>
          <h3 class="fw-bold">The Context</h3>
          <p>
            I created this project for my Mobile Computing and Augmented Reality
            course as part of my Creative Technology MA program work. The course
            asked us to do research and technical explorations of this new
            medium (Augmented Reality), so that we could apply it to a
            real-world use case. Because of my interest in Expressive Arts
            Therapy, I focused my project on exploring the feasability of using
            AR technology in a therapeautic context.
          </p>
          <h3 class="fw-bold">Project Goals</h3>
          <p>
            My goal was to explore both the capabilites and usability of
            emerging augmented reality technology, to see if it could be used to
            help children in a hospital setting feel more calm and less
            overwhelmed by creating a "safe place" that can be projected into
            their room using their mobile device (a phone or tablet).
          </p>
          <h3 class="fw-bold">My Process</h3>
          <ul>
            <li>Research current capabilities of AR technology</li>
            <li>
              Research how modern technology and digital art tools are used by
              Expressive Arts Therapists
            </li>
            <li>
              Design and implement a prototype of my "safe place" environment
              using available AR tools
            </li>
            <li>
              Work through technical difficulties and alternative solutions
            </li>
            <li>
              Evaluate the usability of AR tools and technology to determine
              feasability for a therapeautic context
            </li>
          </ul>
          <h3 class="fw-bold">The Outcome</h3>
          <p>
            This project demonstrated the potential of AR to be used in a
            therapeautic context to create a safe place, as well as one feasible
            technology toolset using Adobe Aero as the AR platform and Mixamo
            for additional 3D assets and animations. It also uncovered the
            current hurdles of using this technology including the lack of
            availability of calming 3D objects and assets to use in the
            envrionments, rendering issues due to large file sizes, technical
            skills needed to incorporate sound and music into the environment,
            and specific technologies that have significant usability issues.
          </p>
          <p>
            The hope is that this project can be seen as a technical exploration
            to inform others who may be interested in using AR for therapeutic
            purposes.
          </p>
        </div>
      </div>
    </div>

    <div class="space"></div>
    <!--Footer section-->
    <div class="container"><%- include('footer'); %></div>
    <!--Required Bootstrap Script-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    <script type="module" src="/js/index.js"></script>
  </body>
</html>
