<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/highlights.svg" />
    <title>NFT Project</title>
    <meta name="author" content="Megan" />
    <meta
      name="description"
      content="A page to showcase an augmented reality project"
    />
    <!--Using Bootstrap for most styling-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!--Header area contains navigation bar-->
    <%- include('header'); %>
    <!-- Hero section -->
    <div class="space"></div>

    <div class="px-4 py-5 my-5 text-center">
      <img
        class="d-block mx-auto mb-4"
        src="/images/highlights.svg"
        alt=""
        width="72"
        height="57"
      />
      <h1 class="display-5 fw-bold">Data Sonification Project</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
          Using data expression techniques to hear differences within a data
          set.
        </p>
      </div>
    </div>

    <div class="b-example-divider"></div>

    <!-- Project Information -->
    <div class="container px-4 py-5" id="project-info">
      <h2 class="pb-2 border-bottom">Case Study</h2>

      <div class="row row-cols-1 g-5 py-5">
        <div class="col d-flex flex-column align-items-start gap-2">
          <h3 class="fw-bold">Expressing Data Through Sound</h3>
          <p class="text-muted">
            This project is explored how we can experience difference in a data
            set through expressing data points as sound.
          </p>
          <p>
            <strong>Skills:</strong> Creative Technology, Data Expression,
            Accessibility
          </p>
          <p><strong>Tools:</strong> Sonic Pi (Ruby), p5.js (JavaScript)</p>
          <p><strong>Timeline:</strong> 2 weeks</p>
          <h3 class="fw-bold">The Context</h3>
          <p>
            I created this project for my Data Expressions class as part of my
            Creative Technology MA program work. After exploring a variety of
            ways to express data in more artful and emotionally expressive
            formats than a standard data visualization, I chose to explore data
            sonification for my final project.
          </p>
          <h3 class="fw-bold">Project Goals</h3>
          <p>
            Translate the growth of an object over time into sound, and showcase
            how data sonification can help design more accessible experiences by
            demonstrating how we can still understand a data set without needing
            visuals (through sound).
          </p>
          <h3 class="fw-bold">My Process</h3>
          <ul>
            <li>
              Create a sketch in p5.js in which an object grows larger over time
            </li>
            <li>
              Add logging to gather data points for how large the object is at
              each time interval
            </li>
            <li>
              Load the data set into Sonic Pi and experiment with different
              sonification techniques
            </li>
            <li>
              Finalize the sonification technique, using notes to represent the
              object's size and the steps between them to represent how the
              object scales in size
            </li>
            <li>
              Present the data sonification and demonstrate how this data
              expression technique can create more inclusive, accessible
              experiences when people do not have access to visual input
            </li>
          </ul>
          <h3 class="fw-bold">The Outcome</h3>
          <p>
            I created a data sonification in Sonic Pi that played a different
            tone at a regular interval. The time interval represented the time
            in which the data point was logged in the series, and the distance
            between each note represented the object's growth during that time
            interval.
          </p>
          <p>
            Our class watched the object grow in size in the p5.js sketch, and
            then listened to my data sonification. This experience demonstrated
            that we can make data more accsessible to Blind and Visually
            Impaired people, by using technology to express data sets as sound.
            It also demonstrated that the technology is very usable and quick to
            implement, for someone who knows some basics about working with data
            and how to code.
          </p>
        </div>
        <div class="col">
          <img
            class="img-fluid rounded shadow"
            src="/images/sonicpi.png"
            alt="sonic pi coding environment"
          />
        </div>
      </div>
    </div>

    <div class="space"></div>
    <!--Footer section-->
    <div class="container"><%- include('footer'); %></div>
    <!--Required Bootstrap Script-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    <script type="module" src="/js/index.js"></script>
  </body>
</html>
