html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.space {
  min-height: 100px;
  background-color: white;
}

/* Style for the navigation links in the header and footer */
.nav-link {
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  font-weight: bold;
}

/*
For fading in the project cards, as they load to the page
*/
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadein {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* Style for the p5.js sketch container */
#hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

#p5-container {
  position: absolute;
  inset: 0;
}

#featured {
  margin-top: 50px;
}
