html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.space {
  min-height: 100px;
  background-color: white;
}

/*
.area {
  min-height: 750px;
}

#splash {
  min-height: 800px;
  background: url("/images/smoke-meier-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
*/
