html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.space {
  min-height: 100px;
  background-color: white;
}

/*
For fading in the project cards, as they load to the page
*/
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadein {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/*
.area {
  min-height: 750px;
}

#splash {
  min-height: 800px;
  background: url("/images/smoke-meier-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
*/
